<section id="{{this.meta.name}}-config-sources-content"  class="{{this.meta.name}}-interface">
    <form class="{{this.meta.name}}-config-sources-form">
        {{>(this.partials.header)}}
        <main>
            <h2>{{localize 'RTLB.ConfigureCompendiumSources'}}</h2>
            <p>{{localize 'RTLB.ConfigureCompendiumSourcesDescription'}}</p>
            <br>
            <br>
            <h3>{{localize 'RTLB.AvailableEquipmentSources'}}</h3>
            {{>(this.partials.list-widget)}}
            <ul class="{{this.meta.name}}-checkbox-list">
                {{#each this.object.sources}}
                    <li>
                        <label>
                            <input
                                type="checkbox"
                                name="sources"
                                value="{{this.name}}"
                                {{#if this.value}}checked{{/if}}
                            />
                            <span>{{this.title}}</span>
                        </label>
                    </li>
                {{/each}}
            </ul>
        </main>
        {{>(this.partials.footer)}}
    </form>
</section>
