<section id="rtlb-ready-content" class="rtlb-interface">
    <form class="rtlb-interface-form">
        {{>(this.partials.header)}}
        <main>
            <h2>{{localize 'RTLB.Ready.CreatingTables'}}</h2>
            <ul>
                <li>{{{localize 'RTLB.Ready.Detail1'}}}</li>
                <li>{{{localize 'RTLB.Ready.Detail2'}}}</li>
                <li>{{{localize 'RTLB.Ready.Detail3'}}}</li>
                <li>{{{localize 'RTLB.Ready.Detail4'}}}</li>
                <li>{{{localize 'RTLB.Ready.Detail5'}}}</li>
            </ul>
            <BR><BR>
            <h3>Available Tables</h3>
            {{>(this.partials.list-widget)}}
            <ul class="rtlb-checkbox-list">
                {{#each this.tables}}
                    <li class="{{../meta.name}}-heading" >
                        <label>
                            <input type="checkbox" name="{{this.all.title}}" value="{{@key}}.all" checked/>
                            <span>
                                <span class="{{../meta.name}}-label-title">{{localize this.all.title}}</span>
                                <span class="{{../meta.name}}-label-description">{{localize this.all.description}}</span>
                            </span>
                        </label>
                        <a
                                class="{{../meta.name}}-action right-drop"
                                data-group="{{@key}}"
                                data-action="drop-details"
                        >
                            <i class="fas fa-fw fa-chevron-left"></i>
                        </a>
                    </li>
                    <ul class="{{../meta.name}}-details-list {{../meta.name}}-{{@key}} display-none">
                        {{#each this}}
                            {{#if (ne @key 'all')}}
                                <li>
                                    <label>
                                        <input type="checkbox" name="{{this.title}}" value="{{@../key}}.{{@key}}"/>
                                        <span>
                                            <span class="{{../../meta.name}}-label-title">{{localize this.title}}</span>
                                        </span>
                                    </label>
                                </li>
                            {{/if}}
                        {{/each}}
                    </ul>
                {{/each}}
                {{#each this.availableGroups}}
                    <li>
                        <label>
                            <input type="checkbox" name="{{this.title}}" value="{{this.title}}" checked/>
                            <span>
                                <span class="rtlb-label-title">{{this.title}}</span>
                                <span class="rtlb-label-details">{{this.details}}</span>
                            </span>
                        </label>
                    </li>
                {{/each}}
            </ul>
        </main>
        {{>(this.partials.footer)}}
    </form>
</section>
