<section id="{{this.meta.name}}-ready-content" class="{{this.meta.name}}-interface">
    <form class="{{this.meta.name}}-interface-form">
        {{>(this.partials.header)}}
        <main>
            <h2>Creating Loot Rollable Tables</h2>
            <ul>
                <li>LogisticsBoy will create a default set of rollable tables full of loot items for use with StockBoy/LootBoy.</li>
                <li>The tables will be added to the LogisticsBoy folder in the Rollable Tables tab.</li>
                <li>Re-running Module will <b>RESET</b> any existing Module rollable tables!</li>
                <li>Only the tables checked below will be created/affected.</li>
                <li>Click the <i><b>Create Rollable Tables</b></i> button below when you are ready to proceed.</li>
            </ul>
            <BR><BR>
            <h3>Available Tables</h3>
            {{>(this.partials.list-widget)}}
            <ul class="{{this.meta.name}}-checkbox-list">
                {{#each this.availableGroups}}
                    <li>
                        <label>
                            <input type="checkbox" name="{{this.title}}" value="{{this.title}}" checked/>
                            <span>
                                <span class="{{this.meta.name}}-label-title">{{this.title}}</span>
                                <span class="{{this.meta.name}}-label-details">{{this.details}}</span>
                            </span>
                        </label>
                    </li>
                {{/each}}
            </ul>
        </main>
        {{>(this.partials.footer)}}
        <footer>
            <button
                    type="button"
                    class="module-control {{this.meta.name}}-action"
                    title="{{button.title}}"
                    data-action="{{button.action}}"
                    {{#if button.disabled}}disabled{{/if}}
            >
                <i class="fas fa-fw {{button.icon}} {{button.iconAnimation}}"></i> {{button.title}}
            </button>
        </footer>
    </form>
</section>
