<section id="rt-log-boy-app">
    <form id="rt-log-boy-build-form">
        <header>
            <img class="rt-log-boy-logo" alt="RPG.Tools Logo" src="/modules/rpg-tools-logistics-boy/rpg-tools-logo-letters-combined.svg">
            <h1><img class="rt-log-boy-icon" alt="Logistics Boy Icon" src="/modules/rpg-tools-logistics-boy/hand-truck.svg"> LogisticsBoy</h1>
        </header>
        <main>
            {{#if (eq this.status "running")}}
                <ul>
                {{#each this.processes}}
                    <li><i class="fas {{this.icon}} fa-fw {{this.iconAnimation}}"></i> {{this.name}}</li>
                {{/each}}
                </ul>
            {{else if (eq this.status "canceling")}}
                <h2>Cancelling ...</h2>
            {{else if (eq this.status "aborted")}}
                <h2>Table generation aborted.</h2>
            {{else if (eq this.status "complete")}}
                <h2>Roll Tables Generated</h2>
                {{#each this.processes}}
                    <li><i class="fas fa-check fa-fw"></i> {{this.name}}</li>
                {{/each}}
            {{else}}
                <h2>Creating Loot Rollable Tables</h2>
                <ul>
                    <li>LogisticsBoy will create a default set of rollable tables full of loot items for use with StockBoy/LootBoy.</li>
                    <li>The tables will be added to the LogisticsBoy folder in the Rollable Tables tab.</li>
                    <li>Re-running LogisticsBoy will <b>RESET</b> any existing LogisticsBoy rollable tables!</li>
                    <li>Only the tables checked below will be created/affected.</li>
                    <li>Click the <i><b>Create Rollable Tables</b></i> button below when you are ready to proceed.</li>
                </ul>
                <BR><BR>
                <h3>Available Tables</h3>
                <ul class="rt-log-boy-checkbox-list">
                    {{#each this.availableTables}}
                        <li>
                            <label>
                                <input type="checkbox" id="rt-log-boy-build-form-{{slugify this}}" name="{{slugify this}}" value="{{this}}" checked/>
                                <span>{{this}}</span>
                            </label>
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
        </main>
        <footer>
            <button
                    id="rt-log-boy-button"
                    type="button"
                    class="module-control"
                    title="{{button.title}}"
                    data-action="{{button.action}}"
            >
                <i class="fas fa-fw {{button.icon}} {{button.iconAnimation}}"></i> {{button.title}}
            </button>
        </footer>
    </form>
</section>
