<section id="rt-log-boy-app">
    <form id="rt-log-boy-build-form">
        <header>
            <img class="rt-log-boy-logo" alt="RPG.Tools Logo" src="/modules/rpg-tools-logistics-boy/rpg-tools-logo-letters-combined.svg">
            <h1><img class="rt-log-boy-icon" alt="Logistics Boy Icon" src="/modules/rpg-tools-logistics-boy/hand-truck.svg"> LogisticsBoy</h1>
        </header>
        <main>
            {{#if (eq this.status "running")}}
                <h2>Generating Tables ...</h2>
                <ul class="rt-log-boy-progress-list">
                {{#each this.processes}}
                    <li><i class="fas {{this.icon}} fa-fw {{this.iconAnimation}}"></i> {{this.name}}</li>
                {{/each}}
                </ul>
            {{else if (eq this.status "canceling")}}
                <h2 class="rt-log-boy-singleton-message"><i class="fas fa-cog fa-fw fa-spin"></i> Canceling ...</h2>
            {{else if (eq this.status "aborted")}}
                <h2 class="rt-log-boy-singleton-message"><i class="fas fa-cancel fa-fw"></i> Rollable table generation canceled.</h2>
            {{else if (eq this.status "complete")}}
                <h2>Rollable Tables Generated</h2>
                <ul class="rt-log-boy-progress-list">
                    {{#each this.processes}}
                        <li><i class="fas fa-check fa-fw"></i> {{this.name}}</li>
                    {{/each}}
                </ul>
            {{else}}
                <h2>Creating Loot Rollable Tables</h2>
                <ul>
                    <li>LogisticsBoy will create a default set of rollable tables full of loot items for use with StockBoy/LootBoy.</li>
                    <li>The tables will be added to the LogisticsBoy folder in the Rollable Tables tab.</li>
                    <li>Re-running Module will <b>RESET</b> any existing Module rollable tables!</li>
                    <li>Only the tables checked below will be created/affected.</li>
                    <li>Click the <i><b>Create Rollable Tables</b></i> button below when you are ready to proceed.</li>
                </ul>
                <BR><BR>
                <h3>Available Tables</h3>
                <div class="list-widget">Select: <a class="module-control rt-log-boy-action rt-log-boy-link" data-action="select-all">All</a> / <a class="module-control rt-log-boy-action rt-log-boy-link" data-action="select-none">None</a></div>
                <ul class="rt-log-boy-checkbox-list">
                    {{#each this.availableGroups}}
                        <li>
                            <label>
                                <input type="checkbox" name="{{this.title}}" value="{{this.title}}" checked/>
                                <span><span class="title">{{this.title}}</span> <span class="details">{{this.details}}</span></span>
                            </label>
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
        </main>
        <footer>
            <button
                    type="button"
                    class="module-control rt-log-boy-action"
                    title="Dialog"
                    data-action="open-create-tables"
            >
                <i class="fas fa-fw fa-random"></i> Dialog
            </button>
            <button
                    type="button"
                    class="module-control rt-log-boy-action"
                    title="{{button.title}}"
                    data-action="{{button.action}}"
                    {{#if button.disabled}}disabled{{/if}}
            >
                <i class="fas fa-fw {{button.icon}} {{button.iconAnimation}}"></i> {{button.title}}
            </button>
        </footer>
    </form>
</section>
